<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" parallel="classes">
    <classes>
      <class name="automationscript.Searchandorder"/>
      <class name="automationscript.Lanuch"/>
      <class name="automationscript.SignupandLogin"/>
      <class name="automationscript.contactUs_page"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
